.label, .button{
    -fx-font-family: Calibri;
    -fx-text-fill: #8b8c90;
    -fx-font-size: 16;
}

.button{
    -fx-background-color: #1e4ac1;
}

.tile{
    -fx-background-color: #284681;
    -fx-border-color: #000000;
}


.whole{
    -fx-background-color: #171224;
}

.table-view{
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.table-row-cell {
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.column-header{
    -fx-background-color: #175020;
}