.label, .button{
    -fx-font-family: "Franklin Gothic Demi";
    -fx-text-fill: #d1d2d6;
    -fx-font-size: 16;
}

.button{
    -fx-background-color: #1e4ac1;
}

.currentPlayer{
    -fx-font-size: 50;
}

.tile{
    -fx-background-color: #284681;
    -fx-border-color: #000000;
}

.whole{
    -fx-background-color: #171224;
    -fx-background-repeat: repeat;
}

.table-view{
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.table-row-cell {
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.column-header{
    -fx-background-color: #175020;
}