.label, .button{
    -fx-font-family: Calibri;
    -fx-text-fill: Black;
    -fx-font-size: 16;
}


.tile{
    -fx-background-color: Aquamarine;
    -fx-border-color: Blue;
}

.table-view{
    -fx-background-insets: 0, 1 1 1 1;
}

.table-row-cell {
    -fx-background-insets: 0, 1 1 1 1;
}

.column-header{
    -fx-background-color: transparent;
}