.label, .button{
    -fx-font-family: Calibri;
    -fx-text-fill: rgba(51, 186, 43, 0.73);
}

.borderPane{
    -fx-background-color: #4e8bc8;
}

.HBox{
    -fx-background-color: #4e8bc8;
}

.VBox{
    -fx-background-color: #4e8bc8;
}

.board{
    -fx-background-color: #4e8bc8;
}