.label, .button{
    -fx-font-family: Calibri;
    -fx-text-fill: rgba(13, 4, 25, 0.73);
    -fx-font-size: 16;
}

.tile{
    -fx-background-color: #09b1bb;
    -fx-border-color: #48ff89;
}

.whole{
    -fx-background-color: #4e8bc8;
}

.table-view{
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.table-row-cell {
    -fx-background-color: #4d55e7;
    -fx-background-insets: 0, 1 1 1 1;
}

.column-header{
    -fx-background-color: #139262;
}