
.player1{
    -fx-background-color: Yellow;
    -fx-fill: Yellow;
}

.player2{
    -fx-background-color: Green;
    -fx-fill: Green;
}

.player3{
    -fx-background-color: Blue;
    -fx-fill: Blue;
}

.player4{
    -fx-background-color: Purple;
    -fx-fill: Purple;
}

.player5{
    -fx-background-color: #fe00dd;
    -fx-fill: #fe00dd;
}

.player6{
    -fx-background-color: Red;
    -fx-fill: Red;
}