.tile{
    -fx-background-color: Aquamarine;
    -fx-border-color: Blue;
}

.player1{
    -fx-background-color: Yellow;
    -fx-font-family: Algerian;
}

.player2{
    -fx-background-color: YellowGreen;

}

.player3{
    -fx-background-color: SteelBlue;
}

.player4{
    -fx-background-color: PowderBlue;
}

.player5{
    -fx-background-color: Sienna;
}

.player6{
    -fx-background-color: Salmon;
}